<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 소개 페이지</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<header>
    <div>
        <h1 class="adhsubject">개발은 처음이조 의 팀원 페이지</h1>
    </div>
</header>
<main>
    <section id="adhintroduce">
        <h2>프로필</h2>
        <div class="intro-container">
            <img src="../image/adhphoto.jpg" class="adhphoto" alt="adhphoto">
            <div class="profile-details">
                <p>
                    <button type="button" class="btn btn-secondary">이름</button>
                    <span class="profile-info">안동환</span></p>
                <p>
                    <button type="button" class="btn btn-secondary">MBTI</button>
                    <span class="profile-info">ENFJ</span></p>
                <p>
                    <button type="button" class="btn btn-secondary">취 미</button>
                    <span class="profile-info">헬스(헬린이),런닝</span>
                </p>
                <p>
                    <button type="button" class="btn btn-secondary">즐겨보는 유튜브</button>
                    <span class="profile-info">쎄그시하리,
              봉이오빠</span></p>
                <p>
                    <button type="button" class="btn btn-secondary">좋아하는 게임</button>
                    <span class="profile-info">LOL</span></p>
                <p>
                    <button type="button" class="btn btn-secondary">TMI</button>
                    <span class="profile-info">크로스핏 배워보고
              싶어요.</span></p>
            </div>
        </div>
    </section>
    <section id="adhcontents">
        <h3>소개</h3>
        <ul>
            <li>
                <button type="button" class="btn btn-secondary">나의 장점</button>
                <p>사람 만나는 것을 좋아하고, 긍정적입니다.</p>
            </li>
            <li>
                <button type="button" class="btn btn-secondary">나의 협업스타일</button>
                <p>개발이 완전 처음이라 두렵고 잘 따라갈 수 있을지 모르겠지만 최선을 다하겠습니다.</p>
            </li>
        </ul>
    </section>
    <section id="contact">
        <h4>링크</h4>
        <div class="attribute">
            기술 블로그: <a href="https://velog.io/@ddh1713/posts" target="_blank">https://velog.io/@ddh1713/posts</a>
        </div>
        <div class="attribute">
            깃허브 블로그: <a href="https://github.com/Ahn-donghwan" target="_blank">https://github.com/Ahn-donghwan</a>
        </div>
    </section>
    <section class="div-comment">
        <h4>댓글</h4>
        <form id="register-comments" action="/comments.html" th:action="@{'/comments/' + ${articleId}}" method="post">
            <div class="row g-3">
                <div class="col-md">
                    <input name="nickname" class="form-control" type="text" placeholder="닉네임" aria-label="닉네임" required>
                </div>
                <div class="col-md">
                    <input name="password" type="password" class="form-control" placeholder="비밀번호" required
                           minlength="4" maxlength="8">
                </div>
                <div class="col-md">
                    <button class="btn btn-secondary" type="submit">등록</button>
                </div>
            </div>
            <div class="row g-3" style="margin-top: 5px">
                <div class="col-md">
                    <textarea name="contents"  type="text" class="form-control" placeholder="댓글 내용" required></textarea>
                </div>
            </div>
        </form>
        <br>
        <button class="btn btn-secondary" th:onclick="|location.href='@{/comments/{articleId}(articleId=${articleId})}'|">
            댓글 목록으로 이동
        </button>
    </section>
</main>
</body>

</html>