<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이지택</title>

    <style>
        .photo {
            background-image: url('/image/jitaek.jpg');
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 250px;
            margin: 20px auto 0px 0px;
            border-radius: 5px;
        }

        .box {
            margin: 50px;
        }
    </style>
</head>

<body>
    <div class="box">

        <div class="photo">

        </div>
        <div class="div-main">

            <div class="div-my-profile">

                <div class="div-my-profile-information">
                    <h1>이지택</h1>
                    <br>
                    <p class="p-my-information">관심사 : 헬스, 스타, 비트코인 </p>
                    <p class="p-my-information">MBTI : ISTP</p>
                    <p class="p-my-information">한마디 : 개발은 처음이라 걱정되지만 화이팅 해봐요 </p>
                </div>
            </div>
            <br>
            <hr class="hr-divider">
            <div class="div-my-strength">
                <li>나의 장점</li>
                <p class="p-my-introduce">
                    실수하지 않기 위해 꼼꼼히 확인합니다<br><br>


                </p>
            </div>
            <hr class="hr-divider">
            <div class="div-my-strength">
                <li>나의 협업 스타일</li>
                <p class="p-my-introduce">
                    일이 잘 안돼도 긍정적으로 생각합니다<br><br>


                </p>
            </div>
            <hr class="hr-divider">
            <div class="diy-my-link">
                <h3>링크</h3>
                <a href="https://diary-3.tistory.com/" target="_blank" class="a-my-link">tistory</a><br>
                <a href="https://github.com/jitaeklee" target="_blank" class="a-my-link">github</a>
            </div>
        </div>
        <br/>
        <hr class="hr-divider">
        <div class="div-comment">
            <h3>댓글</h3>
            <form id="register-comments" action="/comments.html" th:action="@{'/comments/' + ${articleId} + '/comment'}"
                  method="post">
                <div class="row g-3">
                    <div class="col-md">
                        <input name="nickname" class="form-control" type="text" placeholder="닉네임" aria-label="닉네임"
                               required>
                    </div>
                    <div class="col-md">
                        <input name="password" type="password" class="form-control" placeholder="비밀번호" required
                               minlength="4" maxlength="8">
                    </div>
                    <div class="col-md">
                        <button class="btn btn-dark" type="submit">등록</button>
                    </div>
                </div>
                <div class="row g-3" style="margin-top: 5px">
                    <div class="col-md">
                        <textarea name="contents"  type="text" class="form-control" placeholder="댓글 내용" required></textarea>
                    </div>
                </div>
            </form>
            <br>
            <button class="btn btn-dark" th:onclick="|location.href='@{/comments/commentList/{articleId}(articleId=${articleId})}'|">
                댓글 목록으로 이동
            </button>
        </div>
    </div>

</body>

</html>