<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/common.css}" href="/css/common.css" rel="stylesheet">
    <link th:href="@{/css/detail.css}" href="/css/detail.css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div class="div-main">
    <div class="div-comment-delete">
        <form id="delete-comment" th:action="@{'/comments/' + ${articleId} + '/' + ${commentId}}" th:method="delete">
            <div class="row g-2">
                <div class="col-md">
                    <input name="password" type="password" class="form-control" placeholder="비밀번호" required
                           minlength="4" maxlength="8">
                </div>
                <div class="col-sm">
                    <button class="btn btn-dark" type="submit">삭제</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>