<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link th:href="@{/css/detail.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
    <meta charset="UTF-8">
    <title>댓글 목록</title>
    <style>
        .delete {
            width: 200px;
            margin-left: auto;

        }
    </style>
</head>
<body>
<p th:onclick="|location.href='@{/member/{articleId}/find(articleId=${articleId})}'|"
   style="margin-top: 10px; margin-left: 20px">이전 페이지로 이동</p>
<div class="div-main">
    <div class="div-comment">
        <p class="p-sub-heading">새 댓글</p>
        <form id="register-comments" action="/comments.html" th:action="@{'/comments/' + ${articleId}}"
              method="post">
            <div class="row g-3">
                <div class="col-md">
                    <input name="nickname" class="form-control" type="text" placeholder="닉네임" aria-label="닉네임"
                           required>
                </div>
                <div class="col-md">
                    <input name="password" type="password" class="form-control" placeholder="비밀번호" required
                           minlength="4" maxlength="8">
                </div>
                <div class="col-md">
                    <button class="btn btn-dark" type="submit">등록</button>
                </div>
            </div>
            <div class="row g-3" style="margin-top: 5px">
                <div class="col-md">
                    <textarea name="contents" type="text" class="form-control" placeholder="댓글 내용" required></textarea>
                </div>
            </div>
        </form>
        <br>
        <p class="p-sub-heading">댓글 목록</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">닉네임</th>
                <th scope="col">내용</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}" scope="row">
                <td class="align-middle" th:text="${comment.nickname}"></td>
                <td class="align-middle" th:text="${comment.content}"></td>
                <td>
                    <button type="button" class="btn btn-outline-primary"
                            th:onclick="|location.href='@{/comments/{articleId}/{commentId}(articleId=${articleId},commentId=${comment.id})}'|">
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--                    </div>-->
    </div>
</div>
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

</html>